body {
    display: flex;
    flex-wrap: wrap; /* Якщо div не поміщається на екрані, тоді переносимо його.*/
    justify-content: space-around; /* Рівномірно розділяємо простір між елементами*/
    align-items: center; /*Вирівнюємо елементи по центру контейнера*/
    min-height: 100vh;
    margin: 50px;
}

div {
    flex: 0 0 30%; /* Ширина блоку, щоб вмістився ряд по три картинки */
    margin: 16px; /* Встановлюємо зовнішній відступ */
    border: 1px solid #c2c2c2; /* додаємо рамку навколо div */
    border-radius: 15px; /* Додаємо кутові радіуси для кращого вигляду */
    transition: transform 0.2s ease; /* Додаємо плавну анімацію для зміни масштабу при наведенні */
}

a {
    text-decoration: none; /* Вилучаємо стандартне оформлення гіперпосилань */
    color: inherit; /* Наслідуємо колір тексту від батька */
    display: block; /* Робимо посилання блоковим для правильного розміщення тексту навколо зображення */
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Додаємо кутові радіуси для кращого вигляду  */ 
}

h3 {
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    text-align: center;
}

div:hover {
    transform: scale(1.1); /* Збільшуємо картинку при наведенні миші */
}

