body {
    display: flex; /*Робимо гнучкий контейнер*/
    flex-wrap: wrap; /* Якщо div не поміщається на екрані, тоді переносимо його.*/
    justify-content: space-around; /* Рівномірно розділяємо простір між елементами*/
    align-items: center; /*Вирівнюємо елементи по центру контейнера*/
    min-height: 100vh; /* Займаємо мінімальну висоту екрану*/
    margin: 50px; /* Робимо зовнішній відступ по всіх чотирьох осях*/
}

div {
    flex: 0 0 30%; /* Ширина блоку, щоб вмістився ряд по три картинки */
    margin: 16px; /* Встановлюємо зовнішній відступ */
    border: 1px solid #c2c2c2; /* додаємо рамку навколо div */
    border-radius: 15px; /* Додаємо кутові радіуси для кращого вигляду */
    transition: transform 0.2s ease; /* Додаємо плавну анімацію для зміни масштабу при наведенні */
    transition: 1.5s; /*Додаємо плавності блокам*/
}

a {
    text-decoration: none; /* Вилучаємо стандартне оформлення гіперпосилань */
    color: inherit; /* Наслідуємо колір тексту від батька */
    display: block; /* Робимо посилання блоковим для правильного розміщення тексту навколо зображення */
}

img {
    width: 100%; /*Займаємо вся висоту контейнера*/
    height: auto; /*Займаємо шириру контейнера згідно до заповнення*/
    border-radius: 15px; /* Додаємо кутові радіуси для кращого вигляду  */ 
}

h3 {
    font-family: Arial, sans-serif; /*Задаємо шрифт*/
    text-align: center; /*Вирівнюємо текст по центру*/
}

p {
    text-align: center;
}

div:hover {
    transform: scale(1.1); /* Збільшуємо картинку при наведенні миші */
    box-shadow: 0px 10px 20px 5px rgba(143, 125, 125, 0.5); /* Додаємо тінь навколо блоку*/
    transition: 0.8s; /*Додаємо плавності блокам*/
}

