body {
    font-family: Arial, sans-serif;
}
.pages{
    margin: 15px;
    border: 2px solid #c2c2c2;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.allo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid #8a8181;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #d4cccc;
}

.allo_img,
.allo div {
    flex: 0 0 22%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
}

.allo_img img,
.allo div img {
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1s ease;
}
.allo_img :hover{
    transform: scale(1.2);
}

.characteristics {
    text-align: left;
    padding: 30px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.categories,
.exposition{
    padding: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    transition: 2s;

}

.categories:hover{
    background-color: #d4d9d7;
    box-shadow: 0px 10px 20px 5px rgba(143, 125, 125, 0.5);
    border-radius: 15%;
    transition: 0.8s;
}
.exposition:hover{
    background-color: #d4d9d7;
    box-shadow: 0px 10px 20px 5px rgba(143, 125, 125, 0.5);
    border-radius: 15%;
    transition: 0.8s;
}
